@{
    ViewBag.Title = "خانه";
}

<div class="jumbotron text-center">
    <h1>به جاب جو خوش آمدید!</h1>
    <p>
        سیستم جاب جو به شما کمک میکند که شغل مورد علاقه خود را پیدا نکنید!
    </p>
</div>

