@using MVCDemo.Models
@model IEnumerable<MVCDemo.Models.Person>
@{
    ViewBag.Title = "مدیریت کاربران";
}
<div class="alert alert-success">
    @ViewBag.Message
</div>

<hr />
<table class="table table-striped">
    <thead>
        <tr>
            <th>نام</th>
            <th>فامیل</th>
            <th>سن</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Family</td>
                <td>@user.Age</td>
            </tr>
        }
    </tbody>
</table>
